.header-bar{
    background-color: var(--white);
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px var(--gunmetal-2);
    border: 1px solid var(--gunmetal-2);
    
    
}

.logo-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    
}


.logo{
    width: 80px;    
}

.title{
    color: var(--black);
    font-size: 2.4rem;
}

